body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {

    background-image: url("images/space.jpg");
  
   
    min-height: 500px;

    width: 1000px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
  }